/*

!/src/
!/etc/

!/.github
!/.npmignore
!/.node-version

!/.editorconfig
!/.prettierignore
!/dictionary.txt

!/LICENSE
!/NOTICE
!/README.md

!/*.yaml
!/*.js
!/*.json
!/*.ts

!/.gitatributes
!/.gitignore
